<section class="contactme-section">

    <div class="contactme-title">
        <div class="contactme-title-content">
            <h2>{{title}}</h2>
        </div>
        <div class="contactme-subtitle">
          <h6>{{subtitle}}</h6>
        </div>
    </div>

    <div class="contactme-content">
        <div class="contactme-socials">
          <a class="contactme-social-element" href="https://www.linkedin.com/in/marcpozas/" target="_blank">
            <!-- <img src="assets/icons/linkedin_icon.png" alt=""> -->
            <picture>
              <source srcset="assets/icons/linkedin_icon_small.webp" type="image/webp" *ngIf="supportsWebP">
              <source srcset="assets/icons/linkedin_icon_small.png" type="image/png">
              <img src="assets/icons/linkedin_icon_small.png" alt="LinkedIn Logo">
            </picture>
            <div class="contactme-social-linkedin-info">
              <p class="social-title">LinkedIn</p>
              <p class="social-user">marcpozas</p>
            </div>
          </a>
          <a class="contactme-social-element" href="https://github.com/marcpozas" target="_blank">
            <!-- <img src="assets/icons/github_icon.png" alt=""> -->
            <picture>
              <source srcset="assets/icons/github_icon_small.webp" type="image/webp" *ngIf="supportsWebP">
              <source srcset="assets/icons/github_icon_small.png" type="image/png">
              <img src="assets/icons/github_icon_small.png" alt="Github Logo">
            </picture>
            <div class="contactme-social-linkedin-info">
              <p class="social-title">GitHub</p>
              <p class="social-user">marcpozas</p>
            </div>
          </a>
          <div class="contactme-social-element">
            <!-- <img src="assets/icons/542638.png" alt=""> -->
            <picture>
              <source srcset="assets/icons/mail_logo_small.webp" type="image/webp" *ngIf="supportsWebP">
              <source srcset="assets/icons/mail_logo_small.png" type="image/png">
              <img src="assets/icons/mail_logo_small.png" alt="Mail Logo">
            </picture>
            <div class="contactme-social-linkedin-info">
              <p class="social-title">Email</p>
              <p class="social-user">marc.pozas11@gmail.com</p>
            </div>
          </div>
        </div>
        <div class="contactme-form">
          <form [formGroup]="contactForm" (ngSubmit)="submitForm()" *ngIf="contactForm">
            <div>
              <label for="name" (mousedown)="setInvalid('name')">Tu nombre:</label>
              <input type="text" id="name" formControlName="name" [ngClass]="{ 'invalid': isInvalid('name') }" />
            </div>
          
            <div>
              <label for="email" (mousedown)="setInvalid('email')">Email:</label>
              <input type="email" id="email" formControlName="email" [ngClass]="{ 'invalid': isInvalid('email') }" />
            </div>
          
            <div>
              <label for="message" (mousedown)="setInvalid('message')">Mensaje:</label>
              <textarea id="message" formControlName="message" [ngClass]="{ 'invalid': isInvalid('message') }"></textarea>
            </div>
          
            <button type="submit" [disabled]="contactForm.invalid">Enviar mensaje<mat-icon>send</mat-icon></button>
          </form>
        </div>
    </div>

</section>