<section class="projects-section">

    <div class="projects-title">
        <div class="projects-content">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="all-projects-div">

        <div class="project-div-container">
            <div class="project-div first-project">
                <div class="project-info">
                    <p class="project-name">Dev Discord Bot</p>
                </div>
                <figure>
                    <img src="assets/images/background.png" alt="Me Image">
                </figure>
            </div>
        </div>

        <div class="project-div-container">
            <div class="project-div second-project">
                <p>message</p>
            </div>
        </div>

    </div>
    
</section>