.projects-section {
    height: 160vh;
    width: auto;
    background-color: #EAE6E4;
    background-color: #b5b6ca;
    display: flex;

    flex-direction: column;
}

.projects-content {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects-subtitle {
    width: 50%;
    margin-bottom: 4rem;

    h6 {
        font-family: var(--font-inter);
        font-size: 1.6rem;
        line-height: 1.3;
        text-align: center;
        color: var(--blue-text-color);
    }
}

.projects-title {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    margin: 14rem 0 4rem 0;

    h2 {
        font-family: var(--font-istok-web);
        font-weight: bold;
        color: var(--title-color);
        // font-size: 4.4rem;
        font-size: 5rem;
        display: flex;
        justify-content: center;
    }
}

.all-projects-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.4rem;
}

.project-div-container {
    width: 40%;
    flex-basis: 40%;
}

.project-div {
    cursor: pointer;
    height: 31.25rem;
    width: auto;
    border-radius: 3.75rem;
    overflow: hidden;
    padding-left: 6.25rem;
    margin-top: 5px;
    transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
        margin-top: 0;
    }

    .project-info {
        display: flex;
        justify-content: flex-end;
        font-family: var(--font-monomaniac-one);
        font-size: 2rem;
        transition: margin 0.2s ease-in-out;

        .project-name {
            margin: 2.5rem 3.75rem;
        }
    }
}

.first-project {
    background-color: #fd8168;

    &:hover {
        background-color: rgb(255, 153, 132);

        .project-info {
            margin-bottom: 1.25rem;
        }
    }
}

.second-project {
    background-color: #FFC875;
    
    &:hover {
        background-color: #ffd493;

        .project-info {
            margin-bottom: 1.25rem;
        }
    }

    figure {
        // display: flex;
        // justify-content: center;
        img {
            max-height: 30rem;
        }
    }
}

.third-project {
    background-color: #c08af1;
    
    &:hover {
        background-color: rgb(201, 143, 255);

        .project-info {
            margin-bottom: 1.25rem;
        }
    }

    figure {
        // display: flex;
        // justify-content: center;
        img {
            max-height: 28rem;
        }
    }
}