.projects-section {
    height: 100vh;
    width: auto;
    background-color: var(--primary-color);
    display: flex;

    flex-direction: column;
}

.projects-title {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
}

.projects-content {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 6.25rem 0;

    h2 {
        font-family: var(--font-istok-web);
        font-weight: bold;
        color: var(--title-color);
        font-size: 4.4rem;
        margin-bottom: 2.5rem;
    }
}

.all-projects-div {
    display: flex;
    justify-content: center;
    gap: 4.4rem;
}

.project-div-container {
    width: 40%;
}

.project-div {
    cursor: pointer;
    height: 31.25rem;
    width: auto;
    border-radius: 3.75rem;
    overflow: hidden;
    padding-left: 6.25rem;
    margin-top: 5px;
    transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.25);
        margin-top: 0;
    }

    .project-info {
        display: flex;
        justify-content: flex-end;
        font-family: var(--font-monomaniac-one);
        font-size: 2rem;
        transition: margin 0.2s ease-in-out;

        .project-name {
            margin: 2.5rem 3.75rem;
        }
    }
}

.first-project {
    background-color: #fd8168;

    &:hover {
        background-color: rgb(255, 153, 132);

        .project-info {
            margin-bottom: 1.25rem;
        }
    }
}

.second-project {
    background-color: #FFC875;
    padding: 0;
    
    &:hover {
        background-color: #ffd493;

        .project-info {
            margin-bottom: 1.25rem;
        }
    }

    figure {
        display: flex;
        justify-content: center;
        img {
            max-height: 27rem;
        }
    }
}