<section class="projects-section">

    <div class="projects-content">
        <div class="projects-title">
            <h2>{{title}}</h2>
        </div>
        <div class="projects-subtitle">
            <h6>{{subtitle}}</h6>
        </div>
    </div>
    <div class="all-projects-div">

        <div class="project-div-container">
            <div class="project-div first-project">
                <div class="project-info">
                    <p class="project-name">Dev Discord Bot</p>
                </div>
                <figure>
                    <!-- <img src="assets/images/background.png" alt="Me Image"> -->
                    <picture>
                        <source srcset="assets/images/background.webp" type="image/webp" *ngIf="supportsWebP">
                        <source srcset="assets/images/background.png" type="image/png">
                        <img src="assets/images/background.png" alt="Discord Background">
                    </picture>
                </figure>
            </div>
        </div>

        <div class="project-div-container">
            <div class="project-div second-project">
                <div class="project-info">
                    <p class="project-name">PDF to JPG Converter</p>
                </div>
                <figure>
                    <!-- <img src="assets/images/PDF_to_JPG_Logo_v2.png" alt="Me Image"> -->
                    <picture>
                        <source srcset="assets/images/PDF_to_JPG_Logo_v3.webp" type="image/webp" *ngIf="supportsWebP">
                        <source srcset="assets/images/PDF_to_JPG_Logo_v3.png" type="image/png">
                        <img src="assets/images/PDF_to_JPG_Logo_v3.png" alt="PDF to JPG preview">
                    </picture>
                </figure>
            </div>
        </div>

        <div class="project-div-container">
            <div class="project-div third-project">
                <div class="project-info">
                    <p class="project-name">Amazon Price Checker</p>
                </div>
                <figure>
                    <!-- <img src="assets/images/Amazon_Price_Checker.png" alt="Me Image"> -->
                    <picture>
                        <source srcset="assets/images/Amazon_Price_Checker_v2.webp" type="image/webp" *ngIf="supportsWebP">
                        <source srcset="assets/images/Amazon_Price_Checker_v2.png" type="image/png">
                        <img src="assets/images/Amazon_Price_Checker_v2.png" alt="Amazon Price Checker preview">
                    </picture>
                </figure>
            </div>
        </div>

    </div>
    
</section>