<section class="about-section">

    <div class="about-content">
        <h2>{{title}}</h2>
        <div *ngFor="let statement of statements"><p>{{statement}}</p></div>
        <div class="button-cv">
            <button mat-button (click)="openPDF()">{{aboutMeCV}}</button>
        </div>
    </div>

    <div class="floating-decoration">
        <img class="lateral-icons html-icon" src="assets/icons/about-icons-1.png" alt="SVG Image 1" aboutScrollAnimation>
        <img class="lateral-icons API-icon" src="assets/icons/about-icons-2.png" alt="SVG Image 1" aboutScrollAnimation>
        <img class="lateral-icons command-line-icon" src="assets/icons/about-icons-3.png" alt="SVG Image 1" aboutScrollAnimation>
    </div>

</section>