<section class="about-section">

    <div class="about-content">
        <h2>{{title}}</h2>
        <div *ngFor="let statement of statements"><p>{{statement}}</p></div>
        <div class="button-cv">
            <button mat-button (click)="openPDF()">{{aboutMeCV}}</button>
        </div>
    </div>

    <div class="floating-decoration">
        <picture class="lateral-icons html-icon" aboutScrollAnimation>
            <source srcset="assets/icons/about-icons-1-small.webp" type="image/webp" *ngIf="supportsWebP">
            <source srcset="assets/icons/about-icons-1-small.png" type="image/png">
            <img src="assets/icons/about-icons-1-small.png" alt="About Logo">
        </picture>
        <picture class="lateral-icons API-icon" aboutScrollAnimation>
            <source srcset="assets/icons/about-icons-2-small.webp" type="image/webp" *ngIf="supportsWebP">
            <source srcset="assets/icons/about-icons-2-small.png" type="image/png">
            <img src="assets/icons/about-icons-2-small.png" alt="About Logo">
        </picture>
        <picture class="lateral-icons command-line-icon" aboutScrollAnimation>
            <source srcset="assets/icons/about-icons-3-small.webp" type="image/webp" *ngIf="supportsWebP">
            <source srcset="assets/icons/about-icons-3-small.png" type="image/png">
            <img src="assets/icons/about-icons-3-small.png" alt="About Logo">
        </picture>
    </div>

</section>