.about-section {
    background-color: #EAE6E4;
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: var(--font-istok-web);
        font-weight: bold;
        color: var(--title-color);
        font-size: 70px;
        margin-bottom: 10px;
    }
    p {
        font-family: var(--font-hind);
        font-weight: 400;
        color: var(--title-color);
        font-size: 24px;
        margin-bottom: 20px;
    }

}