<section class="about-section">

    <div class="about-content">
        <h2>{{title}}</h2>
        <div *ngFor="let statement of statements"><p>{{statement}}</p></div>
        <div class="button-cv">
            <button mat-button (click)="openPDF()">{{aboutMeCV}}</button>
        </div>
    </div>

    <div class="floating-decoration">
        <!-- <img class="lateral-icons html-icon" src="assets/icons/about-icons-1.png" alt="SVG Image 1" aboutScrollAnimation>
        <img class="lateral-icons API-icon" src="assets/icons/about-icons-2.png" alt="SVG Image 1" aboutScrollAnimation>
        <img class="lateral-icons command-line-icon" src="assets/icons/about-icons-3.png" alt="SVG Image 1" aboutScrollAnimation> -->
        <picture class="lateral-icons html-icon" aboutScrollAnimation>
            <source srcset="assets/icons/about-icons-1.webp" type="image/webp" *ngIf="supportsWebP">
            <source srcset="assets/icons/about-icons-1.png" type="image/png">
            <img src="assets/icons/about-icons-1.png" alt="About Logo">
        </picture>
        <picture class="lateral-icons API-icon" aboutScrollAnimation>
            <source srcset="assets/icons/about-icons-2.webp" type="image/webp" *ngIf="supportsWebP">
            <source srcset="assets/icons/about-icons-2.png" type="image/png">
            <img src="assets/icons/about-icons-2.png" alt="About Logo">
        </picture>
        <picture class="lateral-icons command-line-icon" aboutScrollAnimation>
            <source srcset="assets/icons/about-icons-3.webp" type="image/webp" *ngIf="supportsWebP">
            <source srcset="assets/icons/about-icons-3.png" type="image/png">
            <img src="assets/icons/about-icons-3.png" alt="About Logo">
        </picture>
    </div>

</section>