.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 10rem;
    padding: 2rem 0;
    flex-direction: column;
    background-color: var(--third-color);
}

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;

    .socials-element {
        text-transform: uppercase;
        

        a {
            text-decoration: none;
            color: #fcfcfc;
            font-size: 1rem;
            font-family: var(--font-inter);
        }
    }
    li:not(:last-child):after {
        content: "|";
        color: rgba(255, 255, 255, 0.15);
        padding-left: 1rem;
        margin-right: 1rem;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    color: rgb(190, 190, 190);

    span {
        font-size: 0.8rem;
    }
    span:not(:last-child):after {
        content: "|";
        color: rgba(255, 255, 255, 0.15);
        padding-left: 0.5rem;
        margin-right: 0.6rem;
    }
}

// Media Queries - Desktop and Laptop Screens
@media (max-width: 1920px) {}
@media (max-width: 1650px) {        // Extra

}
@media (max-width: 1550px) {        // Extra

}
@media (max-width: 1440px) {

}

// Media Queries - Tablets
@media (max-width: 1300px) {

}
@media (max-width: 1024px) {

}

// Media Queries - Mobile Devices
@media (max-width: 768px) {

}
@media (max-width: 630px) {

}
@media (max-width: 480px) {
    .socials-element span {
        font-size: 0.8rem;
    }
    .copyright span {
        font-size: 0.7rem;
    }
}