.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 10rem;
    flex-direction: column;
    background-color: var(--third-color);
}

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;

    .socials-element {
        text-transform: uppercase;
        

        a {
            text-decoration: none;
            color: #fcfcfc;
            font-size: 1rem;
            font-family: var(--font-inter);
        }
    }
    li:not(:last-child):after {
        content: "|";
        color: rgba(255, 255, 255, 0.15);
        padding-left: 1rem;
        margin-right: 1rem;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    color: rgb(190, 190, 190);

    span:not(:last-child):after {
        content: "|";
        color: rgba(255, 255, 255, 0.15);
        padding-left: 0.5rem;
        margin-right: 0.6rem;
    }
}