<div class="hero-section">

    <div class="hero-items">
        <div class="me-content">
            <mat-card class="hello-card">

                <mat-card-header>
                    <mat-card-title>{{title}}</mat-card-title>
                    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>{{content}}</mat-card-content>

                <mat-card-actions>
                    <button (click)="scrollToSection()" mat-button>{{contactMeButton}}</button>
                </mat-card-actions>
            </mat-card>

            <div class="me-img">
                <img src="assets/images/me_image_1.png" alt="Me Image">
            </div>
        </div>

        <mat-card class="socials" scrollAnimation>
            <a class="linkedin" href="https://www.linkedin.com/in/marcpozas/" target="_blank">
                <img class="linkedin_transparent" src="assets/icons/linkedin_icon.png" alt="GitHub Logo">
                <img class="linkedin_white" src="assets/icons/linkedin_icon_white.png" alt="GitHub Logo">
            </a>
            <a class="github" href="https://github.com/marcpozas" target="_blank">
                <img class="github_transparent" src="assets/icons/github_icon.png" alt="LinkedIn Logo">
                <img class="github_white" src="assets/icons/github_icon_white.png" alt="LinkedIn Logo">
            </a>
        </mat-card>
    </div>

</div>