<div class="hero-section">

    <div class="hero-items">
        <div class="me-content">
            <mat-card class="hello-card">

                <mat-card-header>
                    <mat-card-title>{{title}}</mat-card-title>
                    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>{{content}}</mat-card-content>

                <mat-card-actions>
                    <button mat-button>{{contactMeButton}}</button>
                </mat-card-actions>
            </mat-card>

            <div class="me-img">
                <img src="assets/images/me_image_1.png" alt="Me Image">
            </div>
        </div>

        <mat-card class="socials" scrollAnimation>
            <span class="linkedin">
                <img src="assets/icons/linkedin_icon.png" alt="GitHub Logo">
            </span>
            <span class="github">
                <img src="assets/icons/github_icon.png" alt="LinkedIn Logo">
            </span>
        </mat-card>
    </div>

</div>