<div class="hero-section">

    <div class="hero-items">
        <div class="me-content">
            <mat-card class="hello-card">

                <mat-card-header>
                    <mat-card-title>{{title}}</mat-card-title>
                    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>{{content}}</mat-card-content>

                <mat-card-actions>
                    <button (click)="scrollToSection()" mat-button>{{contactMeButton}}</button>
                </mat-card-actions>
            </mat-card>

            <div class="me-img">
                <!-- <img src="assets/images/me_image_1.png" alt="Me Image"> -->
                <picture>
                    <source srcset="assets/images/me_image_3.webp" type="image/webp" *ngIf="supportsWebP">
                    <source srcset="assets/images/me_image_3.png" type="image/png">
                    <img src="assets/images/me_image_3.png" alt="Me Image">
                </picture>
            </div>
        </div>

        <mat-card class="socials" scrollAnimation>
            <a class="linkedin" href="https://www.linkedin.com/in/marcpozas/" target="_blank">
                <picture class="linkedin_transparent">
                    <source srcset="assets/icons/linkedin_icon.webp" type="image/webp" *ngIf="supportsWebP">
                    <source srcset="assets/icons/linkedin_icon.png" type="image/png">
                    <img src="assets/icons/linkedin_icon.png" alt="LinkedIn Logo">
                </picture>
                <picture class="linkedin_white">
                    <source srcset="assets/icons/linkedin_icon_white.webp" type="image/webp" *ngIf="supportsWebP">
                    <source srcset="assets/icons/linkedin_icon_white.png" type="image/png">
                    <img src="assets/icons/linkedin_icon_white.png" alt="LinkedIn Image">
                </picture>
            </a>
            <a class="github" href="https://github.com/marcpozas" target="_blank">
                <picture class="linkedin_transparent">
                    <source srcset="assets/icons/github_icon.webp" type="image/webp" *ngIf="supportsWebP">
                    <source srcset="assets/icons/github_icon.png" type="image/png">
                    <img src="assets/icons/github_icon.png" alt="LinkedIn Logo">
                </picture>
                <picture class="linkedin_white">
                    <source srcset="assets/icons/github_icon_white.webp" type="image/webp" *ngIf="supportsWebP">
                    <source srcset="assets/icons/github_icon_white.png" type="image/png">
                    <img src="assets/icons/github_icon_white.png" alt="LinkedIn Image">
                </picture>
            </a>
        </mat-card>
    </div>

</div>