.hero-section {
    background-color: #74758E;
    height: 100vh;
    width: auto;
}

.hero-items {
    display: flex;
    align-items: center;
    height: 100%;
    //margin-right: 50px;
}

.me-content {
    display: flex;
    width: 100%;
    
}

.hello-card{
    background-color: var(--secondary-color);
    margin-left: 12.5rem;
    max-width: 40%;
    height: 55%;
    padding: 3.5rem;
    border-radius: 3.75rem 3.75rem 11.25rem 3.75rem;
    box-shadow: -2px 6px 4px 0 rgba(0, 0, 0, 0.25);

    mat-card-title {
        font-family: var(--font-istok-web);
        font-weight: bold;
        color: var(--title-color);
        font-size: 4.4rem;
        margin-bottom: 2.8rem;
    }
    mat-card-subtitle {
        font-family: var(--font-inter);
        font-weight: 800;
        color: var(--subtitle-color);
        font-size: 2.25rem;
        margin-bottom: 1.9rem;
    }
    mat-card-content {
        font-family: var(--font-hind);
        font-weight: 400;
        color: var(--title-color);
        font-size: 1.63rem;
        margin-bottom: 1.9rem;
        width: 80%;
        line-height: 1.5;
    }
    button {
        font-family: var(--font-inter);
        font-weight: 700;
        background-color: var(--third-color);
        color: var(--subtitle-color);
        font-size: 2rem;
        padding: 2.8rem 3.1rem;
        border-radius: 1rem;
    }
}

.me-img {
    margin: 1.9rem 0.6rem 0px 11.25rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    img {
        width: 25rem;
        height: auto;
    }
}

.socials {
    position: absolute;
    right: 2.5rem;
    top: 80%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 20%;
    background-color: var(--secondary-color);
    border-radius: 0.6rem;
    box-shadow: -2px 6px 4px 0 rgba(0, 0, 0, 0.25);
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 45%;

        .linkedin_white {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        .github_white {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        img {
            position: absolute;
            width: 3rem;
            height: auto;
            cursor: pointer;
        }
    }
}