.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ACACC1; /* Set your desired background color */
  padding: 0.6rem 6rem;
  height: 3.6rem;
  // height: 6%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 2;

  transition: height 0.3s ease-in-out, background-color 0.3s ease;
}

.mat-toolbar-initial {
  height: 4.8rem;
  // height: 8%;
}

  .navbar-logo {
    display: flex;
    margin-left: 3.75rem;
    cursor: pointer;
    p {
      font-family: var(--font-cinzel);
      font-weight: 500;
      color: var(--title-color);
      font-size: 1.75rem;
      align-items: center;
      margin: 0;
    }
  }
  
  .navbar-items {
    display: flex;
    gap: 3.75rem;
    align-items: center;
  }
  
  .navbar-items a {
    text-decoration: none;
    font-family: var(--font-hind);
    font-size: 1.5rem;
    color: var(--title-color); /* Set your desired text color */
    transition: color 0.2s ease, border 0.1s ease;
    cursor: pointer;
  }

  mat-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .navbar-items a:hover {
    color: var(--subtitle-color); /* Set your desired hover color */
    border-bottom: 2px dashed #806388;
  }
  
.secondColor {
  background-color: #74758E;
  .navbar-items a:hover {
    border-bottom: 2px dashed #53345c;
  }
}



// Media Queries - Desktop and Laptop Screens
@media (max-width: 1920px) {

}
@media (max-width: 1440px) {

  .navbar {
    padding: 0.6rem 5rem;
  }
  .navbar-items {
    gap: 3rem;
  }
  .navbar-logo {
    margin-left: 3.4rem;
  }

}

// Media Queries - Tablets
@media (max-width: 1366px) {

  .navbar {
    padding: 0.6rem 4rem;
  }
  .navbar-items {
    gap: 2.5rem;
  }
  .navbar-logo {
    margin-left: 3.1rem;
  }

}
@media (max-width: 1024px) {
  .navbar-items {
    gap: 2rem;
  }
  .navbar-items a {
    font-size: 1.35rem;
  }
  .navbar-logo p {
    font-size: 1.5rem;
  }
  .navbar-logo {
    margin-left: 2.8rem;
  }

}

// Media Queries - Mobile Devices
@media (max-width: 768px) {
  .navbar-items a {
    display: none;
  }
  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    height: 4.5rem;
    p {
      font-size: 2rem;
    }
  }
  mat-icon {
    font-size: 2.4rem;
  }
}
@media (max-width: 480px) {
  .navbar {
    height: 4.5rem;
    p {
      font-size: 1.6rem;
    }
  }
}