<!--

  <nav class="navbar">
    <div class="navbar-logo">
       <p>LOGO</p>
      <img src="logo.png" alt="Logo">
    </div>
    <div class="navbar-items">
      <a routerLink="/skills">Habilidades</a>
      <a routerLink="/projects">Proyectos</a>
      <a routerLink="/about">Sobre mí</a>
      <a routerLink="/contact">Contáctame</a>

      <div class="navbar-darkmode">
        <i class="fas fa-moon"></i>
      </div>
    </div>

  </nav>

-->

<mat-toolbar class="navbar mat-toolbar-initial" scrollEffect>

  <span class="navbar-logo"><p>Marc</p></span>

  <div class="navbar-items">
    <a routerLink="/skills">Inicio</a>
    <a routerLink="/projects">Sobre mí</a>
    <a routerLink="/about">Proyectos</a>
    <a routerLink="/contact">Contáctame</a>

    <div class="navbar-darkmode">
      <img src="assets/icons/dark_mode_icon.png" alt="Dark Mode">
    </div>

  </div>

</mat-toolbar>